.factions-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;

  &::after {
    content: '';
    width: 7.5px;
    height: 100%;
    position: absolute;
    background-color: white;
    right: 32.5px;
  }

  @media screen and (max-width: 800px) {
    gap: 3rem;
    &::after {
      width: 4px;
      right: 21px;
    }
  }

  @media screen and (max-width: 350px) {
    gap: 2rem;
  }
}
