.homepage {
  .section {
    position: relative;
    overflow: hidden;
  }

  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../../assets/backgrounds/hero.png');
    background-position: center;
    background-size: cover;
    padding-left: calc(var(--menu-height) + 1rem);
    padding-right: calc(var(--menu-height) + 1rem);

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      .section-title {
        letter-spacing: 1rem;
        text-align: center;
      }

      .button-container {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
      }
    }

    .ellipse-1 {
      background-color: rgba(241, 163, 71, 1);
      filter: blur(150px);
      width: 50vw;
      height: 30vw;
      position: absolute;
      left: -25%;
      bottom: -25%;
      border-radius: 50%;
      opacity: 0.7;
      z-index: 0;
    }

    .ellipse-2 {
      background-color: rgba(255, 114, 190, 0.5);
      filter: blur(150px);
      width: 50vw;
      height: 30vw;
      position: absolute;
      right: -25%;
      bottom: -25%;
      border-radius: 50%;
      z-index: 0;
    }
  }

  .factions {
    min-height: 100vh;
    background-image: url('../../assets/backgrounds/planet.png');
    background-position: center;
    background-size: cover;

    .section-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      min-height: inherit;
      z-index: 2;

      * {
        z-index: 2;
      }

      .title-container {
        flex: 1;
        text-align: center;

        .section-title {
          letter-spacing: 1rem;
        }
      }

      @media screen and (max-width: 870px) {
        justify-content: flex-end;
        gap: 1rem;

        .title-container {
          flex: initial;
        }
      }
    }

    .ellipse {
      z-index: 0;
    }

    .ellipse-1 {
      position: absolute;
      width: 50vw;
      height: 35vw;
      left: 15%;
      top: 25%;
      transform: rotate(-30deg);
      background: #ff72be;
      filter: blur(20vw);
    }

    .ellipse-2 {
      position: absolute;
      width: 30vw;
      height: 25vw;
      left: 50%;
      top: 25%;
      background: rgba(255, 214, 0, 0.5);
      filter: blur(15vw);
    }
  }

  @media screen and (max-width: 800px) {
    .home {
      padding-left: 1rem;
      padding-right: 1rem;

      .content {
        gap: 4rem;

        .section-title {
          letter-spacing: 0.7rem;
        }

        .button-container {
          flex-direction: column-reverse;
          align-items: center;
        }
      }

      .ellipse {
        display: none;
      }
    }

    .factions .section-content {
      flex-direction: column;
      justify-content: center;
      gap: 4rem;
      padding-top: 2rem;
      padding-bottom: 2rem;

      .title-container {
        flex: initial;

        .section-title {
          letter-spacing: 0.7rem;
        }
      }
    }
  }

  @media screen and (max-width: 400px) {
    .factions .section-content {
      gap: 4rem;

      .title-container .section-title {
        letter-spacing: 0.5rem;
      }
    }
  }

  @media screen and (max-width: 350px) {
    .factions .section-content {
      gap: 1.5rem;
    }
  }
}
